nav{
    width: calc(100vw - 40px);
    left: 0;
}

.sidebar{
    display: none;
}

.delete-container{
    display: flex;
    align-items: center;
    justify-content:center;
    height: calc(100vh - 4rem);
}

.delete-post-form{
    min-width: 50vw;
    display: grid;
    row-gap: 20px;
    padding: 2rem;
    background-color: hsl(180, 2%, 13%);
}

.delete-post-form *{
    width: 100%;
}

.title{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 96%);
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.form-btn{
    padding: 0.5rem;
    height: 4rem;
    font-size: 1rem;
    font-weight: bold;
    color:hsl(180, 2%, 13%);
    text-transform: uppercase;
    background-color: hsl(35, 85%, 65%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}