
.home-wrapper{
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    margin-left: 20px;
    margin-top: 4rem;
    padding: 1rem 1rem  0 0rem;
    width: calc(100vw - 290px);
    left: 250px;
}


/* #f2c384
#f1b058
#262526
#181718
#121112
#010001 */

.home,.activity{
    padding: 2rem;
    /* border: 1px solid white; */
    background-color: rgb(24, 23, 24);
    border-radius: 0.5rem;
    height: auto;
}


.home-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-post-btn{
    display: flex;
    align-items: center;
    gap: 15px
}

.all-posts{
    display: grid;
    gap: 20px;
    margin-top: 20px;
}

.post-wrapper{
    background: hsl(180, 2%, 13%);
    padding: 1rem;
    display: grid;
    gap: 20px;
    border-radius:0.5rem;
}

.name{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.post-message{
    font-size: 2rem;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edits{
    display: flex;
    align-items: center;
    gap: 10px;
}

.tooltip{
    font-size: 1rem;
}

.delete-post,
.edit-post{
    display: flex;
    align-items: center;
    gap:5px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: hsl(35, 85%, 65%);
    color: hsl(180, 2%, 13%);
    font-weight: 500;
}