.home-wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.home,.neighbourhoods,.activity{
    padding: 2rem;
}

.home-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-post-btn{
    display: flex;
    align-items: center;
    gap: 15px
}

.hood-container{
    display: grid;
    gap: 10px;
}

.neighbourhood-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.openhood-btn{
    background-color: red;
    padding: 0.5rem;
}
