{% extends 'main.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
            <!-- Modal form -->
            <form class="create-post-form modal" action="{% url 'create-post' %}" method="POST">
                {% csrf_token %}
                <div class="title">Create Post</div>
                <div class="form-group">
                    <label for="id_message" class="form-label">Message</label>
                    {{ form.message }}
                </div>
                <input type="submit" class="btn form-btn" value="Post">
            </form>
            <div class="overlay">
                <i class='bx bx-x overlay-tooltip'></i>
            </div>
            <!-- end form -->

        <div class="home-wrapper">
            <section class="home">
                <div class="home-header">
                    <h1 class="home-title">Home</h1>   
                    <button class="btn create-post-btn activate-btn">
                        <i class='bx bx-plus tooltip-add'></i>
                        <span>Create Post</span> 
                    </button>    
                </div>
                <div class="all-posts">
                    {% for post in posts %}
                        {% include 'base/post_component.html' %}
                    {% endfor %}
                </div>
            </section>
            <section class="activity">
                <h1 class="home-title">Activity</h1>
            </section>
        </div>
    </div>
{% endblock %}