{% extends 'main.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
            <!-- Modal form -->
            <form class="create-post-form modal" action="{% url 'create-post' %}" method="POST">
                {% csrf_token %}
                <div class="title">Create Post</div>
                <div class="form-group">
                    <label for="id_message" class="form-label">Message</label>
                    {{ form.message }}
                </div>
                <input type="submit" class="btn form-btn" value="Post">
            </form>
            <div class="overlay">
                <i class='bx bx-x overlay-tooltip'></i>
            </div>
            <!-- end form -->

        <div class="home-wrapper">
            <section class="home">
                <div class="home-header">
                    <h1>Home</h1>
                    {% if request.user.currentuser.users_neighbourhood != None %}
                    <button class="btn create-post-btn activate-btn">
                        <i class='bx bx-plus tooltip'></i>
                        <span>Create Post</span> 
                    </button>
                    {% endif %}
                </div>
                <div class="all-posts">
                    {% for post in posts %}
                    <div class="post-wrapper">
                        <div class="name">
                            <span>by</span>
                            <i class='bx bxs-badge-check tooltip'></i>
                            <p class="post-user">{{ post.user.user_profile.username }}</p>
                        </div>
                        <div class="post-message">{{ post.message }}</div>
                        <div class="footer">
                            <div class="time">{{ post.created|timesince }} ago</div>
                            <div class="edits">
                                <a class="btn edit-post" href="{% url 'update-post' post.id %}">
                                    <i class='bx bxs-edit'></i>
                                    <span class="edit">Edit</span>
                                </a>
                                <a class="btn delete-post" href="{% url 'delete-post' post.id %}">
                                    <i class='bx bx-trash tooltip'></i> 
                                    <span class="delete">Delete</span>
                                </a>
                            </div> 
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <section class="activity">
                <h1>Activity</h1>
            </section>
        </div>
    </div>
{% endblock %}